<div class="container-fluid wrapper d-flex justify-content-center align-items-center" style="height: 100%;">
    <div class="d-flex flex-column align-items-center">
        <div class="main__title font-lato">FIND YOU CAREER, YOU DESERVE IT.</div>
        <div class="sub__title font-lato mt-3">Let's get started </div>
        <div class="w-100 text-center mt-3">
            <button mat-raised-button color="primary" (click)="navigateEmp()">Employer</button>
            <button mat-raised-button class="mt-2 ml-3" color="primary" (click)="navigateSeekers()">Job Seekers</button>                
        </div>
    </div>  
</div>