<!-- 

            <button (click)=" clickAddEmployee()"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn btn-success">Add Employee</button>
       
 <table class="table mt-3">
     <thead>
         <tr>
             <th scope="col">Employee Id</th>
             <th scope="col">FirstName</th>
             <th scope="col">LastName</th>
             <th scope="col">Emailid</th>

     </thead>
     <tbody>
         <tr *ngFor="let row of employeeData">
             <td>{{row.id}}</td>
             <td>{{row.FirstName}}</td>
             <td>{{row.LastName}}</td>
             <td>{{row.Emailid}}</td>
             <td>{{row.MobileNumber}}</td>
             <td>{{row.Salary}}</td>
            
             <td>
                 <button (click)="onEdit(row)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info ">Edit</button>
                 <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">Delete</button>
             </td>
         </tr>
     </tbody>
 </table>
  
   
 
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h4 class="modal-title" id="exampleModalLabel">Employee Details</h4>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
             <form [formGroup]="formValue">
                 <div class="mb-3">
                   <label  class="form-label">FirstName</label>
                   <input type="text" formControlName="FirstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                   
                 </div>
                 <div class="mb-3">
                   <label  class="form-label">LastName</label>
                   <input type="text" formControlName="LastName" class="form-control" id="exampleInputPassword1">
                 </div>
                 <div class="mb-3">
                     <label  class="form-label">Email Id</label>
                     <input type="email" formControlName="Emailid" class="form-control" id="exampleInputPassword1">
                   </div>
                   <div class="mb-3">
                     <label  class="form-label">Mobile Number</label>
                     <input type="text" formControlName="MobileNumber" class="form-control" id="exampleInputPassword1">
                   </div>
                   <div class="mb-3">
                     <label  class="form-label">salary</label>
                     <input type="text" formControlName="Salary" class="form-control" id="exampleInputPassword1">
                   </div>
          
               </form>
         </div>
         <div class="modal-footer">
           <button type="button"  id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
           <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
           <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary">Update</button>
         </div>
       </div>
     </div>
   </div>
  -->

 

    <div class="mt-5">
      <nav class="navbar">
        <input class="form-control" type="text" name="name" 
        placeholder="Enter Name to search">
      </nav>
      <table class="table table-bordered">
        <thead>
          <tr >
            <th>FirstName&nbsp; <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th>LastName&nbsp; <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th>Email Id</th>
            <th>User Name</th>
            <th>Company Name</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr *ngFor="let row of employeeData" >
            <td>{{row.firstname}}</td>
            <td>{{row.lastname}}</td>
            <td>{{row.email}}</td>
            <td>{{row.username}}</td>
            <td>{{row.companyname}}</td>
            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >Edit</button></td>
            <td><button type="button" class="btn btn-danger" >Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>