<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav  mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true" 
    >
      <div class="logomain">Dashboard</div>
      <mat-nav-list>
        <mat-list-item routerLink="1" routerLinkActive="active" >
          <mat-icon mat-list-icon>person</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <h5 class="lead"><a routerLink="/employer/login"></a>Employer</h5>
          </div>
        </mat-list-item>
  
        <mat-list-item routerLink="2" routerLinkActive="active">
          <mat-icon mat-list-icon>person</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <h5 class="lead">Job Seekers</h5>
          </div>
        </mat-list-item>
  
    
  
      </mat-nav-list>
  
    </mat-sidenav>
    <div>
      <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item">
            
              <button routerLink="/employer/Editprofile">editprofile</button>
            </li>
            <li class="nav-item">
              <button routerLink="/employer/postjob">postjob</button></li>  
        </ul>
    
      </nav>
      
      </div>
  
    <div class="example-sidenav-content">
      <mat-icon (click)="sidenav.toggle()" class="sidenav-menu">menu</mat-icon>
    </div>
  
  </mat-sidenav-container>


 